<div class="container">
  <legend>Update A New Iten</legend>
  <div class="mb-3">
    <label for="txtItenName" class="form-label">Iten Name</label>
    <input
      type="text"
      [(ngModel)]="itenForm.name"
      class="form-control"
      id="txtItenName"
    />
  </div>
  <div class="mb-3">
    <label for="txtAuthor" class="form-label">Author</label>
    <input
      type="text"
      [(ngModel)]="itenForm.author"
      class="form-control"
      id="txtAuthor"
    />
  </div>
  <div class="mb-3">
    <label for="txtCost" class="form-label">Cost</label>
    <input
      type="number"
      [(ngModel)]="itenForm.cost"
      class="form-control"
      id="txtCost"
    />
  </div>
  <button type="button" class="btn btn-dark" (click)="udapte()">Create</button>
</div>
